.button-style {
    position: relative;
    z-index: 1;
}

.modal-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 5px 10px;
    background-color: #ffffff00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #dbdbdb;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
}

.modal-button:hover {
    background-color: #ffffff1a;
}

.content-style {
    position: relative;
    z-index: 2;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

