.sitebar-main-button{
    background-color: #232323;
}

.off-screen-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 100px;
    background-color:  rgb(25, 27, 32);
    height: 100vh;
    width: 100%;
    max-width: 270px;
    position: fixed;
    top: 0;
    left: -450px;
    transition: .3s ease;
}
.off-screen-menu.active {
    z-index: 800;
    left: 0;
}

nav {
    padding: 1rem;
    display: flex;
}

.ham-menu {
    z-index: 801;
    height: 50px;
    width: 40px;
    position: fixed;
    cursor: pointer;
    top: 30px;
    left: 20px;
}
.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: #6F86FF;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active span {
    background-color: white;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.sitebar-button{
    display: flex;
    align-items: center;
    border-radius: 5px;
    width: 200px;
    padding: 10px;
    margin: 5px 0;
    text-decoration: none;
    transition: 0.3s ease;
    color: #dbdbdb;
    gap: 5px;
}

.sitebar-button:hover {
    transition: 0.3s ease;
    color: #a1a1a1;
}

.sitebar-about-user-container{
    margin-top: auto;
}

.sitebar-about-user{
    margin: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}


.sitebar-about-user:hover,
.sitebar-about-user.active {
    background-color: #ffffff1a;
    transition: 0.3s ease;
}

.sitebar-user-img{
    width: 48px;
    height: 48px;
    border-radius: 12px;
}

.sitebar-user-data{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    color: #e6e6e6;
}

@media (max-width: 768px) {
    .ham-menu {
        display: none;
    }

    .off-screen-menu {
        display: none;
    }
}
