.sleep-tracker-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border-radius: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 550px;
  overflow: hidden;
}

.sleep-tracker-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 150px;
}

.top-value{
  font-size: 23px;
  font-weight: 600;
}

.bottom-value{
  font-size: 15px;
  color: #dbdbdb;
}

.sleep-tracker-card:nth-child(odd) {
  border-right: 1px solid white;
}

.sleep-tracker-card:nth-child(1),
.sleep-tracker-card:nth-child(2) {
  border-bottom: 1px solid white;
}

.sleep-tracker-card.top-left,
.sleep-tracker-card.top-right {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding-left: 30px;
}

.sleep-tracker-card.bottom-left,
.sleep-tracker-card.bottom-right {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding-left: 30px;
}


.icon-wrapper {
  width: 50px;
  font-size: 50px;
  color: #63b3ed;
}

.data-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.quality-ring-wrapper {
  position: relative;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .top-value {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .sleep-tracker-container {
    max-width: 350px;
  }

  .sleep-tracker-card.top-left,
  .sleep-tracker-card.top-right {
    padding-left: 5px;
  }

  .sleep-tracker-card.bottom-left,
  .sleep-tracker-card.bottom-right {
    padding-left: 5px;
  }

  .sleep-tracker-card {
    padding: 10px;
  }

  .icon-wrapper {
    width: 35px;
    font-size: 35px;
  }

  .top-value{
    font-size: 15px;
    font-weight: 500;
  }

  .bottom-value{
    font-size: 15px;
  }

}
